<div class="phone-input-row">
  <p-select
    class="phone-code-select"
    [options]="countries()"
    [ngModel]="dialCode()"
    (ngModelChange)="onDialCodeChange($event)"
    optionValue="value"
    [ariaLabel]="ariaLabel() || label()"
    [disabled]="disabled()"
    appendTo="body">
    <ng-template #selectedItem let-item>
      <div class="flag-option">
        <img [src]="'https://flagcdn.com/20x15/' + item.code + '.png'" [alt]="item.code" />
        <span>{{ item.value }}</span>
      </div>
    </ng-template>
    <ng-template #item let-item>
      <div class="flag-option">
        <img [src]="'https://flagcdn.com/20x15/' + item.code + '.png'" [alt]="item.code" />
        <span>{{ item.label }}</span>
      </div>
    </ng-template>
  </p-select>
  <p-ifta-label class="flex-1">
    <input
      pInputText
      [id]="inputId()"
      [ngModel]="nationalNumber()"
      (ngModelChange)="onNumberChange($event)"
      (blur)="onBlur()"
      [disabled]="disabled()"
      [attr.aria-invalid]="invalid() ? 'true' : null"
      size="small" />
    <label [attr.for]="inputId()">{{ label() }}</label>
  </p-ifta-label>
</div>
