<p-dialog
  [header]="header()"
  [visible]="visible()"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [style]="{ width: '98vw', height: '98vh' }"
  [contentStyle]="{ overflowX: 'auto', overflowY: 'auto', height: '100%' }"
  [draggable]="false"
  styleClass="trip-detail-dialog dialog-tall"
  (onHide)="onHide()">

  @if (trip()) {
    <app-trip-dogs-tabs
      [tripId]="trip()?.id ?? null"
      [activeTab]="activeTab()"
      (activeTabChange)="tabChanged.emit($event)"
      [showAddButton]="true"
      [requests]="requests()"
      (rowClicked)="openDogDetail($event)" />
    }
</p-dialog>

<app-dog-detail-dialog
  [visible]="dogDetailVisible()"
  [dog]="selectedDog()"
  [requester]="selectedRequester()"
  (visibleChange)="dogDetailVisible.set($event)">
</app-dog-detail-dialog>
