<ng-template #routeTpl let-row>
  <strong>{{ row.departureCity }}, {{ row.departureCountry }}</strong>
  <span> → </span>
  {{ row.arrivalCity }}, {{ row.arrivalCountry }}
</ng-template>

<ng-template #filledTpl let-row>
  {{ row.totalCapacity - row.spotsAvailable }}
</ng-template>

<ng-template #remainingTpl let-row>
  <span [class.low-spots]="row.spotsAvailable <= 2">{{ row.spotsAvailable }}</span>
</ng-template>

<ng-template #statusBadgesTpl let-row>
  <app-trip-status-badges [trip]="row" />
</ng-template>

<div class="table-scroll">
  <app-generic-table
    [data]="trips()"
    [columns]="columns()"
    [actions]="actions()"
    [config]="tableConfig()"
    (rowClicked)="viewDetails.emit($event)">
  </app-generic-table>
</div>
